@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  background-color: #17191a;
  color: #afa99e;
  padding: 0 22rem;
  
}

.App {
  padding: 0 80px;
  height: 100vh;
}

@media screen  and (max-width: 480px) {
    body {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }

    .App {
      padding: 0 45px;
    }

    
}